.btn {
    display: grid;
    place-items: center;
    background: #3c524f;
    padding: 1.4em;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    transition: transform 0.5s;

    position: relative;
    top: 10px;
    left: 350px;
}

.btn:hover {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #3c524f;
}

.btn svg {
    transition: transform 0.5s;
}

.btn:hover svg {
    transform: scale(0.9);
    fill: #0bd9bd;
}

